# Build artifacts
/out/
build/
/gradle/

# Android
*.apk
*.aab

# Dependencies and Cache
.gradle/
.idea/
.externalToolchain/

# Sensitive data
# API Keys
*.xml
*.json

# Local data and secrets
.env
/local.properties
*.key

# Log files
*.log

# SDK and configuration
/app/src/main/res/raw/config.xml